<div class="sidebar" [class.open]="isSidebarOpen">
  <ul>
    <li><a routerLink="home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="product" routerLinkActive="active">Product List</a></li>
    <li>
      <a routerLink="cart" *ngIf="isLogedIn" routerLinkActive="active">Cart</a>
    </li>
    <li>
      <a routerLink="dashboard" *ngIf="isLogedIn" routerLinkActive="active"
        >Dashboard</a
      >
    </li>
    <li><a *ngIf="isLogedIn" (click)="logout()">Logout</a></li>
    <li>
      <a routerLink="login" *ngIf="!isLogedIn" routerLinkActive="active"
        >Login</a
      >
    </li>
    <li>
      <a routerLink="signup" *ngIf="!isLogedIn" routerLinkActive="active"
        >Signup</a
      >
    </li>
  </ul>
</div>

<div class="main-content">
  <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
</div>
